/* CSS here */
header{
	position:relative; 
	z-index:2;
}
.main-logo{
	background:red; 
	padding:10px;
	position:fixed; 
	width:100%;
	top:0;
}

.main-logo img{width:170px; padding-left:25px;}
.main-logo i{
	display:none;
	
    font-size: 24px;
    color: white;
    cursor:pointer;
}
.main-logo .right{
	position: absolute;
    right: 20px;
    top: 14px;
}

nav{
	margin-top:55px;
	text-align: center; 
}

nav ul{
	display:flex; 
	justify-content: space-around; 
	border-bottom:1px solid #ccc; 
	padding:10px 0;
}

nav li{
	cursor:pointer; 
	border-right:1px solid #ccc; 
	flex:1; 
	padding:5px 0;
	font-weight:700;
}

nav li:last-child{border-right:0px;}


h3.section-top{
	text-transform: uppercase;
	color:gray;
	font-weight: 700;
	font-size:16px;
}
h2{font-size:19px; font-weight:700; margin:10px 0;}

.img-heading{position: relative;}
.img-heading img{max-width:100%;}
.img-heading span{
	position:absolute;
	padding:5px 15px;
	color:red;
	background:#eee;
	bottom:0px;
	left:0px;
	font-weight: 700;
	font-size:14px;
}

article{padding:15px 0;border-bottom:1px solid #ccc;}
h3{font-weight:bold; font-size:17px;margin-bottom:0;}
p{font-size:14px;}

.new-section{
	margin-top:20px;
	padding-bottom:15px;
	border-bottom:1px solid #ccc;
}

article.small img{float:left; margin-right:15px;}
article.small p{margin-bottom:0;}

.opinion article, .latest article{display:flex;}
.opinion article > div:first-child{flex:0;}
.opinion article > div:last-child{flex:1;padding-left: 10px;}
.opinion img{width:60px; border-radius:30px;}
.opinion .aut{
	font-weight:bold;
	text-transform: uppercase; 
	font-weight:700;
	color:#555;
	font-size:14px;
	margin-bottom:0;
}

h4{font-weight:bold; font-size:14px;}

.no-border{border:0px;}

.latest article > div{flex:1;}
.latest img{max-width:90%;}

.latest .newsletter{
	background:#eee;
	border:1px solid #ccc;
	padding:15px;
}
.latest .newsletter a{
	color:white;
	display:inline-block;
	font-weight:bold;
	font-size:15px;
	background:gray;
	padding:10px 15px;
	margin:10px 0;
}

.latest .newsletter p{font-weight:bold;}

.center{text-align:center; margin-top:20px;}

.mag img{max-width:100%; display:block; margin-bottom:15px;}
.mag div > a{
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	padding:5px;
}
.mag div > a:first-child{
	background:red;
	color:white;
}

.mag div > a:last-child{
	color:red;
}

.editors article, .slideshow article{border:0px;}
.slideshow .img-text{font-size:24px; font-weight:bold;}

h3.red{color:red; margin-top:20px;}

.regions article{border:0px;}
.regions h3{border-top:1px solid #ccc;padding-top:20px;}
.regions .latest article > div:first-child{flex:.7;}
.latest.most-read article > div:first-child{flex:.5;}
.bottom h3{border:0px;}

.sub{
	background:#eee;
}

.sub > div {
	display:flex;
}

.sub > div:first-child{
	border-bottom:1px solid #bbb;
}
.sub h3{margin-top:0; padding-top:0;}
.sub ul{list-style: disc outside none;}
.sub > div > div{flex:1; padding:15px;}
.sub a{display:inline-block;
	margin:25px auto;
	padding:10px 15px;
	background:red;
	color:white !important;
	font-weight: bold;
	text-transform: uppercase;
}
.social{text-align: right;}
.social i{font-size:28px; color:gray; margin:0 5px;}

footer{border-top:1px solid #ccc; margin-top:25px;}
footer img{max-width:200px;}

.f-brand span{vertical-align: bottom; color:gray; font-size:14px;}

footer .row{padding:20px 0;}
footer .row:last-child{
	border-top:1px solid #ccc;
	
}

footer li{display:inline-block; color:gray;margin:0 5px; font-size:14px;}
footer ul li:after{
	content:" | ";
	padding-left:15px;
}
footer ul li:last-child:after{
	content:"";
}

@media screen and (max-width: 720px) {
	.social{text-align: left; margin-top:20px;}
	nav{display:none;}
	main{margin-top:60px;}
	.main-logo img{width:150px; padding-left:0px;}
	.main-logo i{display:inline-block;}
}
